In [1]:
import pandas as pd 
import re

In [23]:
data = pd.read_csv(r"C:\Users\vidhi\OneDrive\Desktop\mohalla-clinic\HealthData-WestDelhi.csv")
data.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,symptoms,diagnosis,medicine,_csvfile,facilitymanagedby,repeatvisitnumber,numfacilityvisited,repeat,male,female
0,2017-02-09,West,Vikas Puri,310724,Shailender,1.040744e+09,NaN,1,24.0,NaN,NaN,NaN,16-17_CSV\feb 17_2017-02-09.csv,0,0,1,0,0,1
1,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,Pain in whole body**05,Bodyache,"Paracetamol 500mg tab,1-0-1,3 days. Diclofena...",output_1718\june 17_2017-06-10.csv,0,0,1,0,1,0
2,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,Fever**03,Other :: artii,"Amoxicillin 250mg cap,1-1-1,3 days. Paracetam...",output_1819\Apr-18_2018-04-26.csv,0,0,1,0,0,1
3,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,Fever**2 Days,Viral flu,"Paracetamol 500mg tab,0-0-1,1 days.",output_1819\jan 19_2019-01-04.csv,0,0,1,0,0,1
4,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"Gas in abdomen**2 Days, Rash**3 Days, Fever**2...","Dermatitis and eczema, Gastroenteritis","Framycetin skin oint,1-0-1,5 days. Omeprazole...",output_1819\Dec-18_2018-12-03.csv,0,95,1,1,0,1

In [24]:
data = data.fillna('Unknown')
data.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,symptoms,diagnosis,medicine,_csvfile,facilitymanagedby,repeatvisitnumber,numfacilityvisited,repeat,male,female
0,2017-02-09,West,Vikas Puri,310724,Shailender,1.040744e+09,Unknown,1,24.0,Unknown,Unknown,Unknown,16-17_CSV\feb 17_2017-02-09.csv,0,0,1,0,0,1
1,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,Pain in whole body**05,Bodyache,"Paracetamol 500mg tab,1-0-1,3 days. Diclofena...",output_1718\june 17_2017-06-10.csv,0,0,1,0,1,0
2,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,Fever**03,Other :: artii,"Amoxicillin 250mg cap,1-1-1,3 days. Paracetam...",output_1819\Apr-18_2018-04-26.csv,0,0,1,0,0,1
3,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,Fever**2 Days,Viral flu,"Paracetamol 500mg tab,0-0-1,1 days.",output_1819\jan 19_2019-01-04.csv,0,0,1,0,0,1
4,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"Gas in abdomen**2 Days, Rash**3 Days, Fever**2...","Dermatitis and eczema, Gastroenteritis","Framycetin skin oint,1-0-1,5 days. Omeprazole...",output_1819\Dec-18_2018-12-03.csv,0,95,1,1,0,1

In [25]:
data.to_csv("HealthData-WestDelhi.csv", index=False)

In [26]:
selected_columns = data[['medongoid', 'medicine']]

selected_columns.to_csv('medicine-column.csv', index=False)

In [2]:
df = pd.read_csv("medicine-column.csv")
len(df)

2230552

In [28]:
split = pd.read_csv("split-medicine.csv")
split.head()

C:\Users\vidhi\AppData\Local\Temp\ipykernel_20560\3690938608.py:1: DtypeWarning: Columns (20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  split = pd.read_csv("split-medicine.csv")

,patient_id,drug_1,dosage_1,duration_1,drug_2,dosage_2,duration_2,drug_3,dosage_3,duration_3,...,duration_6,drug_7,dosage_7,duration_7,drug_8,dosage_8,duration_8,drug_9,dosage_9,duration_9
0,1.040744e+09,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.162021e+09,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.116585e+09,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.367039e+09,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.120420e+09,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Function to split a single entry
def split_entry(entry):
    # Split by "days."
    primary_split = entry.split(' days.')
    
    # Add "days." back to all elements except the last
    primary_split = [segment + ' days.' if i < len(primary_split) - 1 else segment.strip() for i, segment in enumerate(primary_split)]
    
    # Further split by "," for each primary segment
    split_data = []
    for segment in primary_split:
        if segment:  # Skip empty strings
            sub_segments = segment.split(',')
            split_data.extend([sub.strip() for sub in sub_segments if sub.strip()])
    
    return split_data

def process_csv(input_file, output_file):
    # Read the CSV file
    df = pd.read_csv(input_file)

    # Assuming the column to be processed is named 'data'
    df['medicine'] = df['medicine'].apply(split_entry)

    # Expand the lists into separate columns
    processed_df = df['medicine'].apply(pd.Series)

    # Save the result to a new CSV file
    processed_df.to_csv(output_file, index=False, header=False)

input_file = 'medicine-column.csv'  
output_file = 'split-medicine.csv'  
process_csv(input_file, output_file)

In [32]:
split = pd.read_csv("split-medicine.csv")
split.head()

C:\Users\vidhi\AppData\Local\Temp\ipykernel_20560\3690938608.py:1: DtypeWarning: Columns (19,20,21,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  split = pd.read_csv("split-medicine.csv")

,Unknown,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,Omeprazole 20mg cap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,Paracetamol 500mg tab,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df = pd.read_csv('split-medicine.csv', low_memory=False)

header = []
for i in range(df.shape[1] // 3):
    header.extend([f'drug_{i+1}', f'dosage_{i+1}', f'duration_{i+1}'])
    
df.columns = header

df.to_csv('split-medicine.csv', index=False)
df.head()

,drug_1,dosage_1,duration_1,drug_2,dosage_2,duration_2,drug_3,dosage_3,duration_3,drug_4,...,duration_6,drug_7,dosage_7,duration_7,drug_8,dosage_8,duration_8,drug_9,dosage_9,duration_9
0,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,Omeprazole 20mg cap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,Paracetamol 500mg tab,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df2 = pd.read_csv('HealthData-WestDelhi.csv')
df1 = pd.read_csv('split-medicine.csv', low_memory=False)

column_to_add = df2['medongoid']

df1.insert(loc=0, column='patient_id', value=column_to_add)

df1.to_csv('split-medicine.csv', index=False)
df1.head()

,patient_id,drug_1,dosage_1,duration_1,drug_2,dosage_2,duration_2,drug_3,dosage_3,duration_3,...,duration_6,drug_7,dosage_7,duration_7,drug_8,dosage_8,duration_8,drug_9,dosage_9,duration_9
0,1.040744e+09,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.162021e+09,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.116585e+09,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.367039e+09,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.120420e+09,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df = pd.read_csv('split-medicine.csv')

columns = ['drug_1', 'drug_2', 'drug_3', 'drug_4', 'drug_5', 'drug_6', 'drug_7', 'drug_8', 'drug_9']
unique_values = pd.unique(df[columns].values.ravel('K'))
unique_df = pd.DataFrame(unique_values, columns=['Drug'])

unique_df.to_csv('unique_drug.csv', index=False)
len(unique_df)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_5364\2509733333.py:1: DtypeWarning: Columns (20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('split-medicine.csv')

73

In [14]:
# values to be replaced
values_to_replace = ['SO','S']

df.replace(values_to_replace, 'SOS', inplace=True)

df.to_csv('split-medicine.csv', index=False)
df.head()

,patient_id,drug_1,dosage_1,duration_1,drug_2,dosage_2,duration_2,drug_3,dosage_3,duration_3,...,duration_6,drug_7,dosage_7,duration_7,drug_8,dosage_8,duration_8,drug_9,dosage_9,duration_9
0,1.040744e+09,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.162021e+09,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.116585e+09,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.367039e+09,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.120420e+09,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df = pd.read_csv('split-medicine.csv')

columns = ['duration_1', 'duration_2', 'duration_3', 'duration_4', 'duration_5', 'duration_6', 'duration_7', 'duration_8', 'duration_9']
unique_values = pd.unique(df[columns].values.ravel('K'))
unique_df = pd.DataFrame(unique_values, columns=['Duration'])

unique_df.to_csv('unique_duration.csv', index=False)
len(unique_df)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_5364\4253965458.py:1: DtypeWarning: Columns (20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('split-medicine.csv')

152

In [21]:
values_to_replace = ['d', 'da', 'day', 'days.']
columns = ['duration_1', 'duration_2', 'duration_3', 'duration_4', 'duration_5', 'duration_6', 'duration_7', 'duration_8', 'duration_9']

df[columns] = df[columns].replace(values_to_replace, 'days')

df.to_csv('split-medicine.csv', index=False)
df.head()

,patient_id,drug_1,dosage_1,duration_1,drug_2,dosage_2,duration_2,drug_3,dosage_3,duration_3,...,duration_6,drug_7,dosage_7,duration_7,drug_8,dosage_8,duration_8,drug_9,dosage_9,duration_9
0,1.040744e+09,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.162021e+09,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.116585e+09,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.367039e+09,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.120420e+09,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df = pd.read_csv('split-medicine.csv')

columns = ['drug_1', 'drug_2', 'drug_3', 'drug_4', 'drug_5', 'drug_6', 'drug_7', 'drug_8', 'drug_9']
unique_values = pd.unique(df[columns].values.ravel('K'))
unique_df = pd.DataFrame(unique_values, columns=['Drugs'])

unique_df.to_csv('unique_medicine.csv', index=False)
unique_df.head()

C:\Users\vidhi\AppData\Local\Temp\ipykernel_20560\4175059213.py:1: DtypeWarning: Columns (20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('split-medicine.csv')

                     Drugs
0    Paracetamol 500mg tab
1    Amoxicillin 250mg cap
2     Framycetin skin oint
3  Diclofenac sod 75mg tab
4      Diphenhydramine C/S

In [36]:
len(unique_df)

1728

In [64]:
def process_and_shift_data(input_file, output_file):
    delimiter = "General Counselling."
    
    chunk_size = 10000  
    chunks = pd.read_csv(input_file, chunksize=chunk_size)
    
    processed_chunks = []

    for df in chunks:
        # Iterate over the DataFrame rows
        for index, row in df.iterrows():
            for i in range(1, 10): 
                drug_col = f'drug_{i}'
                dosage_col = f'dosage_{i}'
                duration_col = f'duration_{i}'
                
                if pd.notna(row[drug_col]) and delimiter in str(row[drug_col]):
                    # Split the data into counselling and medication parts
                    counselling, medication_info = row[drug_col].split(delimiter, 1)
                    
                    # Update the column with the counselling part
                    df.at[index, drug_col] = delimiter.strip()
                    
                    # Shift subsequent columns to the right by one set of columns
                    for j in range(9, i, -1):  # Assuming up to 'drug_9', 'dosage_9', 'duration_9'
                        df.at[index, f'drug_{j+1}'] = df.at[index, f'drug_{j}']
                        df.at[index, f'dosage_{j+1}'] = df.at[index, f'dosage_{j}']
                        df.at[index, f'duration_{j+1}'] = df.at[index, f'duration_{j}']
                    
                    # Place the medication info into the next set of columns
                    df.at[index, f'drug_{i+1}'] = medication_info.strip()
                    df.at[index, f'dosage_{i+1}'] = row[dosage_col]
                    df.at[index, f'duration_{i+1}'] = row[duration_col]
                    
                    # Clear the original dosage and duration cells for the counselling
                    df.at[index, dosage_col] = ''
                    df.at[index, duration_col] = ''
                    
                    break  # Stop after finding the first occurrence of "General Counselling."

        # Collect the processed chunk
        processed_chunks.append(df)
    
    # Concatenate all processed chunks into a single DataFrame
    result_df = pd.concat(processed_chunks, ignore_index=True)
    
    # Save the result to a new CSV file
    result_df.to_csv(output_file, index=False)

# Input and output file paths
input_file = 'split-medicine.csv'
output_file = 'split-medicine.csv'

# Call the function to process and shift data
process_and_shift_data(input_file, output_file)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'duration_{j+1}'] = df.at[index, f'duration_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'ORS pkt' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'drug_{j+1}'] = df.at[index, f'drug_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SOS' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'dosage_{j+1}'] = df.at[index, f'dosage_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1 d' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'duration_{j+1}'] = df.at[index, f'duration_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0-1-0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'dosage_{j+1}'] = df.at[index, f'dosage_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5 days.' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'duration_{j+1}'] = df.at[index, f'duration_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'dosage_{j+1}'] = df.at[index, f'dosage_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1-0-1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'dosage_{j+1}'] = df.at[index, f'dosage_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '10 d' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'duration_{j+1}'] = df.at[index, f'duration_{j}']
C:\Users\vidhi\AppData\Local\Temp\ipykernel_20284\2105302326.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0-0-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, f'dosage_{j+1}'] = df.at[index, f'dosage_{j}']

In [2]:
df = pd.read_csv("split-medicine.csv")
df.head()

C:\Users\vidhi\AppData\Local\Temp\ipykernel_5364\481026228.py:1: DtypeWarning: Columns (20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("split-medicine.csv")

,patient_id,drug_1,dosage_1,duration_1,drug_2,dosage_2,duration_2,drug_3,dosage_3,duration_3,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,1.040744e+09,Paracetamol 500mg tab,1-0-1,3 days.,Diclofenac sod 50mg tab,1-0-1,3 days.,Tab- B-6,0-1-0,3 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.162021e+09,Amoxicillin 250mg cap,1-1-1,3 days.,Paracetamol 500mg tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.116585e+09,Paracetamol 500mg tab,0-0-1,1 days.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.367039e+09,Framycetin skin oint,1-0-1,5 days.,Omeprazole 20mg cap,1-0-1,5 days.,Dicylomine 10mg tab,0-0-1,5 days.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.120420e+09,Diclofenac sod 75mg tab,0-1-0,3 days.,Antacid tab,1-1-1,3 days.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
columns = ['drug_10','drug_11','drug_12','drug_13','drug_14','dosage_10','dosage_11','dosage_12','dosage_13','dosage_14','duration_10','duration_11','duration_12','duration_13','duration_14']
unique_values = pd.unique(df[columns].values.ravel('K'))
unique_df = pd.DataFrame(unique_values, columns=['Drugs'])
unique_df.head(100)

   Drugs
0    NaN

In [11]:
columns_to_drop = ['drug_10','drug_11','drug_12','drug_13','drug_14','dosage_10','dosage_11','dosage_12','dosage_13','dosage_14','duration_10','duration_11','duration_12','duration_13','duration_14']
df = df.drop(columns=columns_to_drop)

df.to_csv('split-medicine.csv', index=False)

In [69]:
len(unique_df)

1512

In [17]:
df1 = pd.read_csv("sample-data.csv")
search_term = '##Crea'
mask = df1.applymap(lambda x: isinstance(x, str) and search_term in x)

filtered_df = df1[mask.any(axis=1)]
filtered_df.head(100)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_19472\15614989.py:1: DtypeWarning: Columns (13,15,17,18,19,20,21,22,23,24,26,28,49,50,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("sample-data.csv")
C:\Users\vidhi\AppData\Local\Temp\ipykernel_19472\15614989.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mask = df1.applymap(lambda x: isinstance(x, str) and search_term in x)

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
1563529,2019-01-05,West,Vikas Puri,310709,Dr. Saluja,1.340325e+09,09:32:31,0,71.0,['cough'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969514,2019-01-16,West,Vikas Puri,310709,Dr. Saluja,1.340325e+09,08:41:33,0,71.0,['cough'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(filtered_df)

In [70]:
entry_number = 1596936
entry = df.iloc[entry_number]
print(f'Entry {entry_number + 1}:\n{entry}')

Entry 1596937:
patient_id                  1367713576.0
drug_1              General Counselling.
dosage_1                             NaN
duration_1                           NaN
drug_2         Albendazole 200mg/5ml syp
dosage_2                           0-0-1
duration_2                       1 days.
drug_3              General Counselling.
dosage_3                             NaN
duration_3                           NaN
drug_4         Albendazole 200mg/5ml syp
dosage_4                           0-0-1
duration_4                       1 days.
drug_5                               NaN
dosage_5                             NaN
duration_5                           NaN
drug_6                               NaN
dosage_6                             NaN
duration_6                           NaN
drug_7                               NaN
dosage_7                             NaN
duration_7                           NaN
drug_8                               NaN
dosage_8                             NaN
duration_8                           NaN
drug_9                               NaN
dosage_9                             NaN
duration_9                           NaN
drug_10                              NaN
dosage_10                            NaN
duration_10                          NaN
Name: 1596936, dtype: object

In [1]:
import pandas as pd
df = pd.read_csv("sample-data.csv")
df.head()

C:\Users\vidhi\AppData\Local\Temp\ipykernel_5836\3956562054.py:2: DtypeWarning: Columns (13,15,17,18,19,20,21,22,23,24,26,28,49,50,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("sample-data.csv")

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
values_to_replace = ['A']

df.replace(values_to_replace, '##A', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
values_to_replace = ['Ac']

df.replace(values_to_replace, '##Ac', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
values_to_replace = ['Ace']

df.replace(values_to_replace, '##Ace', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
values_to_replace = ['Acet']

df.replace(values_to_replace, '##Acet', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# values to be replaced
values_to_replace = ['Acetyl','Acetyl Sa','Acetyl Sal','Acetyl Sali','Acetyl Salic','Acetyl Salicy','Acetyl Salicyl','Acetyl Salicyli','Acetyl Salicylic','Acetyl Salicylic A','Acetyl Salicylic Ac','Acetyl Salicylic Aci','Acetyl Salicylic Acid']

df.replace(values_to_replace, 'Acetyl Salicylic Acid', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
values_to_replace = ['Acetyl Salicylic Acid 7','Acetyl Salicylic Acid 75','Acetyl Salicylic Acid 75 t','Acetyl Salicylic Acid 75 ta','Acetyl Salicylic Acid 75 tab']

df.replace(values_to_replace, 'Acetyl Salicylic Acid 75 tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
values_to_replace = ['Acyclovir 2','Acyclovir 200']

df.replace(values_to_replace, 'Acyclovir 200mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
values_to_replace = ['Albe','Albendaz','Albendazol','Albendazole']

df.replace(values_to_replace, 'Albendazole', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
values_to_replace = ['Albendazole 200mg/','Albendazole 200mg/5','Albendazole 200mg/5ml s','Albendazole 200mg/5ml sy']

df.replace(values_to_replace, 'Albendazole 200mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
values_to_replace = ['Albendazole 2','Albendazole 20','Albendazole 200m']

df.replace(values_to_replace, 'Albendazole 200mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
values_to_replace = ['Albendazole 400','Albendazole 400 m','Albendazole 400 mg','Albendazole 400 mg t']

df.replace(values_to_replace, 'Albendazole 400mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
values_to_replace = ['Alp']

df.replace(values_to_replace, '##Alp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
values_to_replace = ['Alph','Alpha','Alphac','Alphaca','Alphacal','Alphacalc','Alphacalci','Alphacalcid','Alphacalcido','Alphacalcidol']

df.replace(values_to_replace, 'Alphacalcidol', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
values_to_replace = ['Alphacalcidol 0','Alphacalcidol 0.','Alphacalcidol 0.2','Alphacalcidol 0.25','Alphacalcidol 0.25m','Alphacalcidol 0.25mg','Alphacalcidol 0.25mg c','Alphacalcidol 0.25mg ca']

df.replace(values_to_replace, 'Alphacalcidol 0.25mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
values_to_replace = ['Alpr','Alpra','Alpraz','Alprazo','Alprazol','Alprazola',]

df.replace(values_to_replace, 'Alprazolam', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
values_to_replace = ['Alprazolam 0.','Alprazolam 0.2','Alprazolam 0.25','Alprazolam 0.25 m','Alprazolam 0.25 mg','Alprazolam 0.25 mg t','Alprazolam 0.25 mg ta']

df.replace(values_to_replace, 'Alprazolam 0.25mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
values_to_replace = ['Am']

df.replace(values_to_replace, '##Am', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
values_to_replace = ['Aml','Amlo','Amlod','Amlodi','Amlodip','Amlodipi','Amlodipin']

df.replace(values_to_replace, 'Amlodipine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
values_to_replace = ['Amlodipine 5','Amlodipine 5m','Amlodipine 5mg','Amlodipine 5mg t','Amlodipine 5mg ta']

df.replace(values_to_replace, 'Amlodipine 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [21]:
values_to_replace = ['Amo','Amox','Amoxi','Amoxic','Amoxici','Amoxicil','Amoxicill','Amoxicilli']

df.replace(values_to_replace, 'Amoxicillin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
values_to_replace = ['Amoxicillin 2','Amoxicillin 25','Amoxicillin 250','Amoxicillin 250m','Amoxicillin 250mg','Amoxicillin 250mg c','Amoxicillin 250mg ca']

df.replace(values_to_replace, 'Amoxicillin 250mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
values_to_replace = ['Amoxicillin 5','Amoxicillin 50','Amoxicillin 500','Amoxicillin 500m','Amoxicillin 500mg','Amoxicillin 500mg c','Amoxicillin 500mg ca']

df.replace(values_to_replace, 'Amoxicillin 500mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
values_to_replace = ['Amoxycillin 1','Amoxycillin 125mg/5ml']

df.replace(values_to_replace, 'Amoxicillin 125mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
values_to_replace = ['An','Ant','Anta','Antac','Antaci']

df.replace(values_to_replace, 'Antacid', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
values_to_replace = ['Antacid s','Antacid sy']

df.replace(values_to_replace, 'Antacid syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
values_to_replace = ['Antacid t','Antacid ta']

df.replace(values_to_replace, 'Antacid tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
values_to_replace = ['At','Ato','Ator','Atorv','Atorva','Atorvas','Atorvast','Atorvasta','Atorvastat','Atorvastati','Atorvastatin']

df.replace(values_to_replace, 'Atorvastatin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
values_to_replace = ['Atorvastatin 2','Atorvastatin 20','Atorvastatin 20 m','Atorvastatin 20 mg','Atorvastatin 20 mg t','Atorvastatin 20 mg ta', 'Atorvastatin 20 mg tab']

df.replace(values_to_replace, 'Atorvastatin 20mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
values_to_replace = 'Atorvastatin ta'
df.replace(values_to_replace, 'Atorvastatin tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
values_to_replace = ['Azi','Azit','Azith','Azithr','Azithro','Azithrom','Azithromy','Azithromyc','Azithromyci']
df.replace(values_to_replace, 'Azithromycin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
values_to_replace = ['Azithromycin 250','Azithromycin 250mg','Azithromycin 250mg ta']
df.replace(values_to_replace, 'Azithromycin 250mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
values_to_replace = ['Azithromycin 5','Azithromycin 50','Azithromycin 500','Azithromycin 500m','Azithromycin 500mg','Azithromycin 500mg t','Azithromycin 500mg ta']
df.replace(values_to_replace, 'Azithromycin 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
values_to_replace = 'Bandages'
df.replace(values_to_replace, 'Bandage', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
values_to_replace = 'B'
df.replace(values_to_replace, '##B', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
values_to_replace = 'B-'
df.replace(values_to_replace, '##B-', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
values_to_replace = ['B-c','B-co','B-com','B-comp','B-compl','B-comple','B-complex','B-complex t','B-complex ta']
df.replace(values_to_replace, 'B-complex tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
values_to_replace = ['Betam','Betame','Betamet','Betameth','Betametha','Betamethas','Betamethaso','Betamethason','Betamethasone','Betamethasone O','Betamethasone Oi','Betamethasone Oin','Betamethasone Oint']
df.replace(values_to_replace, 'Betamethasone oint', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
values_to_replace = ['Bisa','Bisac','Bisaco','Bisacod','Bisacody']
df.replace(values_to_replace, 'Bisacodyl', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
values_to_replace = ['Bisacodyl 5','Bisacodyl 5m','Bisacodyl 5mg','Bisacodyl 5mg t','Bisacodyl 5mg ta']
df.replace(values_to_replace, 'Bisacodyl 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
values_to_replace = ['Brom','Bromo','Bromoh','Bromohe','Bromohex','Bromohexi','Bromohexin','Bromohexine','Bromohexine C','Bromohexine C/', 'Bromohexine C/S']
df.replace(values_to_replace, 'Bromhexine C/S', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
values_to_replace = 'C'
df.replace(values_to_replace, '##C', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
values_to_replace = 'Ca'
df.replace(values_to_replace, '##Ca', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
values_to_replace = 'Cal'
df.replace(values_to_replace, '##Cal', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
values_to_replace = ['Cal c','Cal ca','Cal car','Cal carb','Cal carbo','Cal carbon','Cal carbona','Cal carbonat','Cal carbonate']
df.replace(values_to_replace, 'Calcium Carbonate', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
values_to_replace = ['Cal carbonate 5','Cal carbonate 50','Cal carbonate 500','Cal carbonate 500m','Cal carbonate 500mg','Cal carbonate 500mg t','Cal carbonate 500mg ta','Cal carbonate 500mg tab']
df.replace(values_to_replace, 'Calcium Carbonate 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
values_to_replace = ['Calamin','Calamine','Calamine lot','Calamine loti']
df.replace(values_to_replace, 'Calamine lotion', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
values_to_replace = ['Calce','Calcer','Calcero','Calcerol','Calcerol S','Calcerol Sa','Calcerol Sac','Calcerol Sach','Calcerol Sache','Calcerol Sachet','Calcerol Sachets']
df.replace(values_to_replace, 'Calcirol sachets', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
values_to_replace = ['Calcium 250m','Calcium 250mg el','Calcium 250mg ele','Calcium 250mg elem','Calcium 250mg eleme','Calcium 250mg elemen','Calcium 250mg element','Calcium 250mg elementa','Calcium 250mg elemental','Calcium 250mg elemental c','Calcium 250mg elemental ca','Calcium 250mg elemental cal./','Calcium 250mg elemental cal./5','Calcium 250mg elemental cal./5ml','Calcium 250mg elemental cal./5ml s','Calcium 250mg elemental cal./5ml sy']
df.replace(values_to_replace, 'Calcium 250mg elemental cal./5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
values_to_replace = 'Calciu'
df.replace(values_to_replace, '##Calciu', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
values_to_replace = 'Calcium'
df.replace(values_to_replace, '##Calcium', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
values_to_replace = 'Ce'
df.replace(values_to_replace, '##Ce', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
values_to_replace = ['Cep','Ceph','Cephal','Cephale','Cephalex','Cephalexi']
df.replace(values_to_replace, 'Cephalexin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
values_to_replace = ['Cephalexin 125','Cephalexin 125m','Cephalexin 125mg tab','Cephalexin 125mg/5ml sy']
df.replace(values_to_replace, 'Cephalexin 125mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
values_to_replace = 'Cephalexin 250mg ca'
df.replace(values_to_replace, 'Cephalexin 250mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
values_to_replace = ['Cephalexin 5','Cephalexin 50','Cephalexin 500','Cephalexin 500 mg','Cephalexin 500 mg c','Cephalexin 500 mg ca']
df.replace(values_to_replace, 'Cephalexin 500mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
values_to_replace = 'Ch'
df.replace(values_to_replace, '##Ch', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
values_to_replace = 'Chl'
df.replace(values_to_replace, '##Chl', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
values_to_replace = 'Chlo'
df.replace(values_to_replace, '##Chlo', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
values_to_replace = 'Chlor'
df.replace(values_to_replace, '##Chlor', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
values_to_replace = ['Chloroh','Chlorohe','Chlorohexidin','Chlorohexidine M/','Chlorohexidine M/W']
df.replace(values_to_replace, 'Chlorhexidine M/W', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
values_to_replace = ['Chlorp','Chlorph','Chlorphe','Chlorphen','Chlorpheni','Chlorphenir','Chlorphenira','Chlorpheniram','Chlorphenirami','Chlorpheniramin','Chlorpheniramine','Chlorpheniramine m','Chlorpheniramine ma','Chlorpheniramine mal','Chlorpheniramine male','Chlorpheniramine malea','Chlorpheniramine maleat']
df.replace(values_to_replace, 'Chlorpheniramine maleate', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
values_to_replace = ['Chlorpheniramine maleate 4','Chlorpheniramine maleate 4m','Chlorpheniramine maleate 4mg','Chlorpheniramine maleate 4mg t','Chlorpheniramine maleate 4mg ta']
df.replace(values_to_replace, 'Chlorpheniramine maleate 4mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
values_to_replace = 'Ci'
df.replace(values_to_replace, '##Ci', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
values_to_replace = ['Cinn','Cinna','Cinnarizine 25m']
df.replace(values_to_replace, 'Cinnarizine 25mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
values_to_replace = ['Cip','Cipr','Cipro','Ciprof','Ciprofl','Ciproflo','Ciproflox','Ciprofloxa','Ciprofloxac','Ciprofloxaci']
df.replace(values_to_replace, 'Ciprofloxacin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
values_to_replace = ['Ciprofloxacin 50','Ciprofloxacin 500','Ciprofloxacin 500m']
df.replace(values_to_replace, 'Ciprofloxacin 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
values_to_replace = ['Ciprofloxacine e','Ciprofloxacine ey','Ciprofloxacine eye','Ciprofloxacine eye d','Ciprofloxacine eye dro','Ciprofloxacine eye drop']
df.replace(values_to_replace, 'Ciprofloxacin eyedrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
values_to_replace = 'Ciprofloxacine'
df.replace(values_to_replace, 'Ciprofloxacin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
values_to_replace = 'Clo'
df.replace(values_to_replace, '##Clo', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
values_to_replace = 'Cl'
df.replace(values_to_replace, '##Cl', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
values_to_replace = ['Clot','Clotr','Clotri','Clotrim','Clotrima','Clotrimaz','Clotrimazo','Clotrimazol']
df.replace(values_to_replace, 'Clotrimazole', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
values_to_replace = ['Clotrimazole c','Clotrimazole cr','Clotrimazole cre','Clotrimazole crea']
df.replace(values_to_replace, 'Clotrimazole cream', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
values_to_replace = ['Clotrimazole P','Clotrimazole Pow','Clotrimazole Powde','Clotrimazole Powder']
df.replace(values_to_replace, 'Clotrimazole powder', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

,date,district,city,facilityid,doctorname,medongoid,appointmenttime,gender,age,diagnosis,...,duration_11,drug_12,dosage_12,duration_12,drug_13,dosage_13,duration_13,drug_14,dosage_14,duration_14
0,2017-06-10,West,Uttam Nagar,320721,NISHANT,1.162021e+09,13:07:17,0,30.0,['body pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-26,West,Vikas Puri,310710,Dr. Ravikant,1.116585e+09,12:26:25,1,31.0,['acute respiratory tract infection'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-04,West,Vikas Puri,310710,Dr. Ravikant,1.367039e+09,10:06:51,1,28.0,['influenza'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-03,West,Vikas Puri,310724,Shailender,1.120420e+09,08:47:58,1,35.0,"['dermatitis+eczema', 'gastroenteritis']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-29,West,Uttam Nagar,320712,Dr. R.C.Khanna,1.367939e+09,11:41:40,1,42.0,['back pain'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
import pandas as pd
df = pd.read_csv("sample-data.csv")
values_to_replace = ['Clox','Cloxa','Cloxac','Cloxaci','Cloxacil','Cloxacill','Cloxacilli']
df.replace(values_to_replace, 'Cloxacillin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

C:\Users\vidhi\AppData\Local\Temp\ipykernel_5836\785391880.py:2: DtypeWarning: Columns (13,15,17,18,19,20,21,22,23,24,26,28,49,50,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("sample-data.csv")

MemoryError: Unable to allocate 851. MiB for an array with shape (50, 2230551) and data type object

In [ ]:
values_to_replace = ['Cloxacillin 2','Cloxacillin 25','Cloxacillin 250','Cloxacillin 250m','Cloxacillin 250mg','Cloxacillin 250mg c','Cloxacillin 250mg ca']
df.replace(values_to_replace, 'Cloxacillin 250mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Cloxacillin 5','Cloxacillin 50','Cloxacillin 500','Cloxacillin 500mg','Cloxacillin 500mg ca']
df.replace(values_to_replace, 'Cloxacillin 500mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Crea'
df.replace(values_to_replace, '##Crea', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Cream Bec','Cream Beclomet','Cream Beclomethaso','Cream Beclomethasone Dip','Cream Beclomethasone Dipropio','Cream Beclomethasone Dipropionate','Cream Beclomethasone Dipropionate 0','Cream Beclomethasone Dipropionate 0.','Cream Beclomethasone Dipropionate 0.02','Cream Beclomethasone Dipropionate 0.025% + P','Cream Beclomethasone Dipropionate 0.025% + Ph','Cream Beclomethasone Dipropionate 0.025% + Phy','Cream Beclomethasone Dipropionate 0.025% + Phyn','Cream Beclomethasone Dipropionate 0.025% + Phyny','Cream Beclomethasone Dipropionate 0.025% + Phynyl','Cream Beclomethasone Dipropionate 0.025% + Phynylep','Cream Beclomethasone Dipropionate 0.025% + Phynylephr','Cream Beclomethasone Dipropionate 0.025% + Phynylephrin','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1%','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% +','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + L','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Li','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lid','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lido','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lidoc','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lidocai','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lidocain','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lidocaine','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lidocaine 2','Cream Beclomethasone Dipropionate 0.025% + Phynylephrine 0.1% + Lidocaine 2.5%']
df.replace(values_to_replace, 'Beclomethasone Dipropionate 0.025%+Phenylephrine 0.1%+Lidocaine 2.5% cream', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Cream C','Cream Clobetasol']
df.replace(values_to_replace, 'Clobetasol cream', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Cream S','Cream Silver Sul','Cream Silver Sulphadi','Cream Silver Sulphadiazin','Cream Silver Sulphadiazine 1%','Cream Silver Sulphadiazine 1% 20gm']
df.replace(values_to_replace, 'Silver Sulphadiazine 1% 20gm cream', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'D'
df.replace(values_to_replace, '##D', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'De'
df.replace(values_to_replace, '##De', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Den','Dento']
df.replace(values_to_replace, 'Dentogel', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Dext','Dextr','Dextro','Dextrom','Dextrome','Dextromet','Dextrometh','Dextrometho','Dextromethor','Dextromethorp','Dextromethorph','Dextromethorpha','Dextromethorphan','Dextromethorphan C','Dextromethorphan C/']
df.replace(values_to_replace, 'Dextromethorphan C/S', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Di'
df.replace(values_to_replace, '##Di', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Dic'
df.replace(values_to_replace, '##Dic', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Dicl','Diclo','Diclof','Diclofe','Diclofen','Diclofena']
df.replace(values_to_replace, 'Diclofenac', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Diclofenac G','Diclofenac Ge','Diclofenac Gel']
df.replace(values_to_replace, 'Diclofenac gel', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Diclofenac s','Diclofenac so','Diclofenac sod']
df.replace(values_to_replace, 'Diclofenac sodium', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Diclofenac sod 1','Diclofenac sod 10','Diclofenac sod 100','Diclofenac sod 100m','Diclofenac sod 100mg','Diclofenac sod 100mg t','Diclofenac sod 100mg ta','Diclofenac sod 100mg tab']
df.replace(values_to_replace, 'Diclofenac sodium 100mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Diclofenac sod 5','Diclofenac sod 50','Diclofenac sod 50m','Diclofenac sod 50mg','Diclofenac sod 50mg  t','Diclofenac sod 50mg  ta','Diclofenac sod 50mg  tab']
df.replace(values_to_replace, 'Diclofenac sodium 50mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Diclofenac sod 7','Diclofenac sod 75','Diclofenac sod 75m','Diclofenac sod 75mg','Diclofenac sod 75mg t','Diclofenac sod 75mg ta','Diclofenac sod 75mg tab']
df.replace(values_to_replace, 'Diclofenac sodium 75mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Dicy','Dicyclomin','Dicylo','Dicylomi','Dicylomin','Dicylomine']
df.replace(values_to_replace, 'Dicyclomine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Dicyclomine drop','Dicyclomine drops']
df.replace(values_to_replace, 'Dicyclomine oral drops', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Dicylomine 10mg','Dicylomine 10mg t','Dicylomine 10mg tab']
df.replace(values_to_replace, 'Dicyclomine 10mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Diph','Diphe','Diphen','Diphenh','Diphenhyd','Diphenhydr','Diphenhydra','Diphenhydram','Diphenhydrami','Diphenhydramin','Diphenhydramine','Diphenhydramine C','Diphenhydramine C/']
df.replace(values_to_replace, 'Diphenhydramine C/S', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Do'
df.replace(values_to_replace, '##D0', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Domp','Dompe','Domper','Domperid','Domperido','Domperidon','Domperidone','Domperidone 1','Domperidone 10','Domperidone 10m','Domperidone 10mg','Domperidone 10mg t']
df.replace(values_to_replace, 'Domperidone 10mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Doxycyline 100 mg cap','Doxycyli','Doxycylin','Doxycyline','Doxycyline 10','Doxycyline 100','Doxycyline 100 m','Doxycyline 100 mg']
df.replace(values_to_replace, 'Doxycycline 100 mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Drop'
df.replace(values_to_replace, '##Drop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Drops Multi Vita','Drops Multi Vitam','Drops Multi Vitamins']
df.replace(values_to_replace, 'Multivitamin oral drops', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'E'
df.replace(values_to_replace, '##E', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['En','Ena','Enal','Enalp','Enalpr','Enalpri','Enalpril','Enalpril 5','Enalpril 5m','Enalpril 5mg','Enalpril 5mg t','Enalpril 5mg ta','Enalpril 5mg tab']
df.replace(values_to_replace, 'Enalapril 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Etop','Etoph','Etophy','Etophyl','Etophyll','Etophylli','Etophyllin','Etophylline','Etophylline+','Etophylline+T','Etophylline+Th','Etophylline+The','Etophylline+Theo','Etophylline+Theop','Etophylline+Theoph','Etophylline+Theophy','Etophylline+Theophyl','Etophylline+Theophyll','Etophylline+Theophylli','Etophylline+Theophyllin','Etophylline+Theophylline','Etophylline+Theophylline 1']
df.replace(values_to_replace, 'Etophylline+Theophylline', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Etophylline+Theophylline 10','Etophylline+Theophylline 100','Etophylline+Theophylline 100m','Etophylline+Theophylline 100mg','Etophylline+Theophylline 100mg t','Etophylline+Theophylline 100mg ta']
df.replace(values_to_replace, 'Etophylline+Theophylline 100mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Etophylline+Theophylline 15','Etophylline+Theophylline 150','Etophylline+Theophylline 150m','Etophylline+Theophylline 150mg','Etophylline+Theophylline 150mg t','Etophylline+Theophylline 150mg ta']
df.replace(values_to_replace, 'Etophylline+Theophylline 150mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Etophylline+Theophylline 300','Etophylline+Theophylline 300m','Etophylline+Theophylline 300mg','Etophylline+Theophylline 300mg t','Etophylline+Theophylline 300mg ta']
df.replace(values_to_replace, 'Etophylline+Theophylline 300mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Etor','Etori','Etorico','Etoricox','Etoricoxib','Etoricoxib 90','Etoricoxib 90mg t']
df.replace(values_to_replace, 'Etoricoxib 90mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'F'
df.replace(values_to_replace, '##F', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Fe','Fer','Ferro','Ferrou','Ferrous','Ferrous S','Ferrous Su','Ferrous Sul','Ferrous Sulp','Ferrous Sulph','Ferrous Sulpha','Ferrous Sulphat','Ferrous Sulphate','Ferrous Sulphate 2','Ferrous Sulphate 20','Ferrous Sulphate 200','Ferrous Sulphate 200m','Ferrous Sulphate 200mg','Ferrous Sulphate 200mg t','Ferrous Sulphate 200mg ta']
df.replace(values_to_replace, 'Ferrous Sulphate 200mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Fl','Flu','Fluc','Fluco','Flucon','Flucona','Fluconaz','Fluconazo','Fluconazol','Fluconazole','Fluconazole 1','Fluconazole 15','Fluconazole 150','Fluconazole 150m','Fluconazole 150mg','Fluconazole 150mg t','Fluconazole 150mg ta']
df.replace(values_to_replace, 'Fluconazole 150mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Folic acid 5 mg tab','Fol','Foli','Folic','Folic a','Folic ac','Folic aci','Folic acid','Folic acid 5','Folic acid 5 m','Folic acid 5 mg','Folic acid 5 mg t','Folic acid 5 mg ta']
df.replace(values_to_replace, 'Folic acid 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Fr'
df.replace(values_to_replace, '##Fr', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Fram','Framyc','Framyce','Framycet','Framycetin sk','Framycetin skin','Framycetin skin o','Framycetin skin oi','Framycetin skin oin','Framycetin skin oint']
df.replace(values_to_replace, 'Framycetin skin oint', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Frusemide tab'
df.replace(values_to_replace, 'Furosemide tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Fu','Furo','Furos','Furose','Furosemide']
df.replace(values_to_replace, 'Furosemide tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Furosemide 4','Furosemide 40','Furosemide 40m','Furosemide 40mg','Furosemide 40mg t','Furosemide 40mg ta','Furosemide 40mg tab']
df.replace(values_to_replace, 'Furosemide 40mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Gene','Gener','General','General C','General Co','General Cou','General Coun','General Couns','General Counse','General Counsel','General Counsell','General Counselli','General Counsellin','General Counselling','General Counselling.']
df.replace(values_to_replace, 'General Counselling', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Genta','Gentamyc','Gentamycin']
df.replace(values_to_replace, 'Gentamicin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Gentamycin eye dro','Gentamycin eye drop']
df.replace(values_to_replace, 'Gentamicin eyedrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Gl'
df.replace(values_to_replace, '##Gl', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Gli'
df.replace(values_to_replace, '##Gli', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Glibenclam','Glibenclami','Glibenclamide']
df.replace(values_to_replace, 'Glyburide', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Glibenclamide   2.5','Glibenclamide   2.5 mg','Glibenclamide   2.5 mg t','Glibenclamide   2.5 mg tab']
df.replace(values_to_replace, 'Glyburide 2.5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Glim','Glime','Glimepr','Glimepri','Glimeprid', 'Glimepride']
df.replace(values_to_replace, 'Glimepiride', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Glimepride 1','Glimepride 1m','Glimepride 1mg','Glimepride 1mg t','Glimepride 1mg ta','Glimepride 1mg tab']
df.replace(values_to_replace, 'Glimepiride 1mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Glimepride 2','Glimepride 2m','Glimepride 2mg','Glimepride 2mg t','Glimepride 2mg ta','Glimepride 2mg tab']
df.replace(values_to_replace, 'Glimepiride 2mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Glimepride 4mg ta','Glimepride 4mg tab']
df.replace(values_to_replace, 'Glimepiride 4mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'H'
df.replace(values_to_replace, '##H', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Hy'
df.replace(values_to_replace, '##Hy', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Hyd','Hydro','Hydroc','Hydroch','Hydrochlo','Hydrochlor','Hydrochloro','Hydrochloroth','Hydrochlorothia','Hydrochlorothiaz','Hydrochlorothiazi','Hydrochlorothiazide']
df.replace(values_to_replace, 'Hydrochlorothiazide', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Hydrochlorothiazide 12','Hydrochlorothiazide 12.','Hydrochlorothiazide 12.5','Hydrochlorothiazide 12.5 m','Hydrochlorothiazide 12.5 mg t','Hydrochlorothiazide 12.5 mg ta','Hydrochlorothiazide 12.5 mg tab']
df.replace(values_to_replace, 'Hydrochlorothiazide 12.5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Hyo','Hyos','Hyosc','Hyosci','Hyoscine','Hyoscine b','Hyoscine bu','Hyoscine but','Hyoscine buty','Hyoscine butyl','Hyoscine butyl b','Hyoscine butyl br','Hyoscine butyl bro','Hyoscine butyl brom','Hyoscine butyl bromi','Hyoscine butyl bromid','Hyoscine butyl bromide']
df.replace(values_to_replace, 'Hyoscine butyl bromide', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Hyoscine butyl bromide 1','Hyoscine butyl bromide 10m','Hyoscine butyl bromide 10mg','Hyoscine butyl bromide 10mg t','Hyoscine butyl bromide 10mg ta','Hyoscine butyl bromide 10mg tab']
df.replace(values_to_replace, 'Hyoscine butyl bromide 10mg tab', inplace=True)

df.to_csv('split-medicine-1.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'I'
df.replace(values_to_replace, '##I', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Ib','Ibu','Ibup','Ibupr','Ibupro','Ibuprof','Ibuprofe','Ibuprofen']
df.replace(values_to_replace, 'Ibuprofen', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ibuprofen 100mg/5ml'
df.replace(values_to_replace, 'Ibuprofen 100mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Ibuprofen 2','Ibuprofen 20','Ibuprofen 200','Ibuprofen 200 m','Ibuprofen 200 mg','Ibuprofen 200 mg t','Ibuprofen 200 mg ta','Ibuprofen 200 mg tab']
df.replace(values_to_replace, 'Ibuprofen 200mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Ibuprofen 4','Ibuprofen 40','Ibuprofen 400','Ibuprofen 400 m','Ibuprofen 400 mg','Ibuprofen 400 mg t','Ibuprofen 400 mg ta','Ibuprofen 400 mg tab']
df.replace(values_to_replace, 'Ibuprofen 400mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
import pandas as pd
df = pd.read_csv("sample-data.csv")
values_to_replace = ['Inhale','Inhaler','Inhaler Bud','Inhaler Bude','Inhaler Budes','Inhaler Budeson','Inhaler Budesoni','Inhaler Budesonid','Inhaler Budesonide','Inhaler Budesonide 1','Inhaler Budesonide 10','Inhaler Budesonide 100','Inhaler Budesonide 100 m','Inhaler Budesonide 100 mc','Inhaler Budesonide 100 mcg/do','Inhaler Budesonide 100 mcg/dos','Inhaler Budesonide 100 mcg/dose']
df.replace(values_to_replace, 'Budesonide inhaler', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Inj. Avil (for emergency use only)'
df.replace(values_to_replace, 'Avil injection(for emergency use only)', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Ir','Iron','Iron F','Iron Foli','Iron Folic','Iron Folic A','Iron Folic Ac','Iron Folic Aci','Iron Folic Acid']
df.replace(values_to_replace, 'Iron Folic Acid', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Iron Folic Acid (','Iron Folic Acid (P)','Iron Folic Acid (P) 6','Iron Folic Acid (P) 67','Iron Folic Acid (P) 67mg','Iron Folic Acid (P) 67mg t','Iron Folic Acid (P) 67mg ta','Iron Folic Acid (P) 67mg tab']
df.replace(values_to_replace, 'Iron Folic Acid(P) 67mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Iron Folic Acid 25','Iron Folic Acid 25mg']
df.replace(values_to_replace, 'Iron Folic Acid 25mg', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Iron Folic Acid 25mg Fe 500','Iron Folic Acid 25mg Fe 500 m','Iron Folic Acid 25mg Fe 500 mc','Iron Folic Acid 25mg Fe 500 mcg','Iron Folic Acid 25mg Fe 500 mcg f','Iron Folic Acid 25mg Fe 500 mcg fo','Iron Folic Acid 25mg Fe 500 mcg fol','Iron Folic Acid 25mg Fe 500 mcg folic','Iron Folic Acid 25mg Fe 500 mcg folic a','Iron Folic Acid 25mg Fe 500 mcg folic aci','Iron Folic Acid 25mg Fe 500 mcg folic acid','Iron Folic Acid 25mg Fe 500 mcg folic acid s','Iron Folic Acid 25mg Fe 500 mcg folic acid sy','Iron Folic Acid 25mg Fe 500 mcg folic acid syp']
df.replace(values_to_replace, 'Iron Folic Acid 25mg Fe 500 mcg folic acid syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'L'
df.replace(values_to_replace, '##L', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'La'
df.replace(values_to_replace, '##La', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Lactu','Lactulo']
df.replace(values_to_replace, 'Lactulose', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Lactulose 6','Lactulose 66m','Lactulose 66mg','Lactulose 66mg/','Lactulose 66mg/m','Lactulose 66mg/ml','Lactulose 66mg/ml s','Lactulose 66mg/ml sy']
df.replace(values_to_replace, 'Lactulose', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Le'
df.replace(values_to_replace, '##Le', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Lev'
df.replace(values_to_replace, '##Lev', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Levo'
df.replace(values_to_replace, '##Levo', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Levo Thy','Levo Thyrox','Levo Thyroxi','Levo Thyroxin','Levo Thyroxine']
df.replace(values_to_replace, 'Levothyroxine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Levo Thyroxine 5','Levo Thyroxine 50','Levo Thyroxine 50 mcg','Levo Thyroxine 50 mcg t','Levo Thyroxine 50 mcg tab']
df.replace(values_to_replace, 'Levothyroxine 50mcg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Levoc','Levoce','Levocet','Levoceti','Levocetir','Levocetiri','Levocetiriz','Levocetirizi','Levocetirizin','Levocetirizine']
df.replace(values_to_replace, 'Levocetirizine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Levocetirizine5','Levocetirizine5m','Levocetirizine5mg','Levocetirizine5mg t','Levocetirizine5mg ta','Levocetirizine5mg tab']
df.replace(values_to_replace, 'Levocetirizine 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Levocetrizine 2.5mg/5m','Levocetrizine 2.5mg/5ml','Levocetrizine 2.5mg/5ml Syr','Levocetrizine 2.5mg/5ml Syrup']
df.replace(values_to_replace, 'Levocetirizine 2.5mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Lubricating Eye Dr','Lubricating Eye Dro','Lubricating Eye Drop']
df.replace(values_to_replace, 'Lubricating eyedrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'M'
df.replace(values_to_replace, '##M', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Me'
df.replace(values_to_replace, '##Me', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Met'
df.replace(values_to_replace, '##Met', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metf','Metfo','Metfor','Metform','Metformi']
df.replace(values_to_replace, 'Metformin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metformin 5','Metformin 50','Metformin 500','Metformin 500m','Metformin 500mg','Metformin 500mg t','Metformin 500mg ta']
df.replace(values_to_replace, 'Metformin 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metformin 85','Metformin 850m','Metformin 850mg','Metformin 850mg t','Metformin 850mg ta']
df.replace(values_to_replace, 'Metformin 850mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Meth'
df.replace(values_to_replace, '##Meth', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Methy'
df.replace(values_to_replace, '##Methy', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Methylc','Methylcobalami','Methylcobalamine']
df.replace(values_to_replace, 'Methylcobalamin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Methylcobalamine 5','Methylcobalamine 50','Methylcobalamine 500 mc','Methylcobalamine 500 mcg','Methylcobalamine 500 mcg ta','Methylcobalamine 500 mcg tab']
df.replace(values_to_replace, 'Methylcobalamin 500mcg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Meto'
df.replace(values_to_replace, '##Meto', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Metoclopramid'
df.replace(values_to_replace, 'Metoclopramide', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metop','Metopr','Metopro','Metoprol','Metoprolo']
df.replace(values_to_replace, 'Metoprolol', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metoprolol 2','Metoprolol 25','Metoprolol 25 m','Metoprolol 25 mg','Metoprolol 25 mg t','Metoprolol 25 mg ta','Metoprolol 25 mg tab']
df.replace(values_to_replace, 'Metoprolol 25mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metoprolol 5','Metoprolol 50','Metoprolol 50m','Metoprolol 50mg','Metoprolol 50mg t','Metoprolol 50mg ta']
df.replace(values_to_replace, 'Metoprolol 50mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metr','Metro','Metron','Metroni','Metronid','Metronida','Metronidaz','Metronidazo','Metronidazol']
df.replace(values_to_replace, 'Metronidazole', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metronidazole 200mg/5ml','Metronidazole 200mg/5ml s']
df.replace(values_to_replace, 'Metronidazole 200mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Metronidazole 4','Metronidazole 40','Metronidazole 400','Metronidazole 400m','Metronidazole 400mg','Metronidazole 400mg t','Metronidazole 400mg ta']
df.replace(values_to_replace, 'Metronidazole 400mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Mu','Mul','Mult','Multi','Multiv','Multivi','Multivit','Multivita','Multivitam','Multivitami']
df.replace(values_to_replace, 'Multivitamin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'N'
df.replace(values_to_replace, '##N', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'No'
df.replace(values_to_replace, '##No', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Nor'
df.replace(values_to_replace, '##Nor', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Norethisterone'
df.replace(values_to_replace, 'Norethindrone', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Norethisterone 5 m','Norethisterone 5 mg tab']
df.replace(values_to_replace, 'Norethindrone 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Norfl','Norfloxaci']
df.replace(values_to_replace, 'Norfloxacin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Norfloxacin 4','Norfloxacin 40','Norfloxacin 400','Norfloxacin 400 m','Norfloxacin 400 mg','Norfloxacin 400 mg t','Norfloxacin 400 mg ta','Norfloxacin 400 mg tab']
df.replace(values_to_replace, 'Norfloxacin 400mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Nos','Nosc','Nosca','Noscapi','Noscapin','Noscapine']
df.replace(values_to_replace, 'Noscapine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Noscapine 7','Noscapine 7m','Noscapine 7mg','Noscapine 7mg/','Noscapine 7mg/5','Noscapine 7mg/5m','Noscapine 7mg/5ml','Noscapine 7mg/5ml s','Noscapine 7mg/5ml sy']
df.replace(values_to_replace, 'Noscapine 7mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'O'
df.replace(values_to_replace, '##O', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Oi'
df.replace(values_to_replace, '##Oi', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Oint'
df.replace(values_to_replace, '##Oint', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Oint. M','Oint. Mico','Oint. Micon','Oint. Micona','Oint. Miconaz','Oint. Miconazol','Oint. Miconazole','Oint. Miconazole 2','Oint. Miconazole 2%']
df.replace(values_to_replace, 'Miconazole 2% oint', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Om','Ome','Omep','Omepr','Omepra','Omepraz','Omeprazo','Omeprazol','Omeprazole']
df.replace(values_to_replace, 'Omeprazole', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Omeprazole 2','Omeprazole 20','Omeprazole 20m','Omeprazole 20mg','Omeprazole 20mg c','Omeprazole 20mg ca']
df.replace(values_to_replace, 'Omeprazole 20mg cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ondensetron syp'
df.replace(values_to_replace, 'Ondansetron syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ondensetron tab'
df.replace(values_to_replace, 'Ondansetron tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['OR','ORS','ORS p','ORS pk']
df.replace(values_to_replace, 'ORS pkt', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'P'
df.replace(values_to_replace, '##P', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Pa'
df.replace(values_to_replace, '##Pa', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Parac','Parace','Paracet','Paraceta','Paracetam','Paracetamo','Paracetamol']
df.replace(values_to_replace, 'Paracetamol', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Paracetamol 125mg/5','Paracetamol 125mg/5ml','Paracetamol 125mg/5ml s','Paracetamol 125mg/5ml sy','Paracetamol 125mg/5ml syp']
df.replace(values_to_replace, 'Paracetamol 125mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Paracetamol 5','Paracetamol 50','Paracetamol 500','Paracetamol 500m','Paracetamol 500mg','Paracetamol 500mg t','Paracetamol 500mg ta','Paracetamol 500mg tab']
df.replace(values_to_replace, 'Paracetamol 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Pe'
df.replace(values_to_replace, '##Pe', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Permeth','Permethri']
df.replace(values_to_replace, 'Permethrin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Permethrin 1%','Permethrin 1% Lo','Permethrin 1% Lotion']
df.replace(values_to_replace, 'Permethrin 1% lotion', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Permethrin 5%','Permethrin 5% L','Permethrin 5% Loti','Permethrin 5% Lotio','Permethrin 5% Lotion']
df.replace(values_to_replace, 'Permethrin 5% lotion', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ph'
df.replace(values_to_replace, '##Ph', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Phe'
df.replace(values_to_replace, '##Phe', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Phen'
df.replace(values_to_replace, '##Phen', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Pheni','Phenir','Phenira','Pheniram','Phenirami','Pheniramine','Pheniramine m','Pheniramine Malea','Pheniramine me','Pheniramine mel','Pheniramine mele','Pheniramine melea','Pheniramine meleat','Pheniramine meleate']
df.replace(values_to_replace, 'Pheniramine Maleate', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Pheniramine Maleate 15mg','Pheniramine Maleate 15mg/','Pheniramine Maleate 15mg/5','Pheniramine Maleate 15mg/5m','Pheniramine Maleate 15mg/5ml s']
df.replace(values_to_replace, 'Pheniramine Maleate 15mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Pheniramine meleate 2','Pheniramine meleate 25','Pheniramine meleate 25m','Pheniramine meleate 25mg','Pheniramine meleate 25mg t','Pheniramine meleate 25mg ta','Pheniramine meleate 25mg tab']
df.replace(values_to_replace, 'Pheniramine Maleate 25mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Po'
df.replace(values_to_replace, '##Po', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Pov','Povi','Povid','Povidi','Povidin','Povidine','Povidine Io','Povidine Iod','Povidine Iodi','Povidine Iodin','Povidine Iodine']
df.replace(values_to_replace, 'Povidone-Iodine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Povidine Iodine  500ml Lotion'
df.replace(values_to_replace, 'Povidone-Iodine 500ml lotion', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
import pandas as pd
df = pd.read_csv("sample-data.csv")
values_to_replace = ['Par','Para']
df.replace(values_to_replace, 'Paracetamol', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Povidine Iodine 1','Povidine Iodine 15','Povidine Iodine 15g','Povidine Iodine 15gm','Povidine Iodine 15gm O','Povidine Iodine 15gm Oi','Povidine Iodine 15gm Oint']
df.replace(values_to_replace, 'Povidone-Iodine 15gm oint', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Povidine Iodine mou','Povidine Iodine mout','Povidine Iodine mouth','Povidine Iodine mouthwa','Povidine Iodine mouthwas','Povidine Iodine mouthwash']
df.replace(values_to_replace, 'Povidone-Iodine mouthwash', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Pr'
df.replace(values_to_replace, '##Pr', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Pre','Predn','Prednis','Prednisol','Prednisolo','Prednisolon']
df.replace(values_to_replace, 'Prednisolone', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Prednisolone 5','Prednisolone 5m','Prednisolone 5mg','Prednisolone 5mg t','Prednisolone 5mg ta']
df.replace(values_to_replace, 'Prednisolone 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Prometha','Promethazi']
df.replace(values_to_replace, 'Promethazine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Promethazine 5mg/5','Promethazine 5mg/5m','Promethazine 5mg/5ml']
df.replace(values_to_replace, 'Promethazine 5mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'R'
df.replace(values_to_replace, '##R', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ra'
df.replace(values_to_replace, '##Ra', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Ran','Rani','Ranit','Raniti','Ranitid','Ranitidi','Ranitidin','Ranitidine']
df.replace(values_to_replace, 'Ranitidine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Ranitidine 1','Ranitidine 15','Ranitidine 150','Ranitidine 150m','Ranitidine 150mg','Ranitidine 150mg t','Ranitidine 150mg ta','Ranitidine 150mg tab']
df.replace(values_to_replace, 'Ranitidine 150mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'S'
df.replace(values_to_replace, '##S', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Sa'
df.replace(values_to_replace, '##Sa', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Sal'
df.replace(values_to_replace, '##Sal', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Salb','Salbu','Salbut','Salbuta','Salbutam','Salbutamo','Salbutamol', 'Salbutamol 2','Salbutamol 2m','Salbutamol 2mg']
df.replace(values_to_replace, 'Salbutamol', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Salbutamol 2mg t','Salbutamol 2mg ta','Salbutamol 2mg tab']
df.replace(values_to_replace, 'Salbutamol 2mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Salbutamol 4','Salbutamol 4m','Salbutamol 4mg','Salbutamol 4mg ta','Salbutamol 4mg tab']
df.replace(values_to_replace, 'Salbutamol 4mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Salbutamol i','Salbutamol in','Salbutamol inh','Salbutamol inha','Salbutamol inhal','Salbutamol inhale','Salbutamol inhaler']
df.replace(values_to_replace, 'Salbutamol inhaler', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Salbutamolm','Salbutamolm 2m','Salbutamolm 2mg']
df.replace(values_to_replace, 'Salbutamol', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Salbutamolm 2mg/5','Salbutamolm 2mg/5ml','Salbutamolm 2mg/5ml syp']
df.replace(values_to_replace, 'Salbutamol 2mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Sorbitrate 5m'
df.replace(values_to_replace, 'Sorbitrate 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)

df.head()

In [ ]:
values_to_replace = 'Su'
df.replace(values_to_replace, '##Su', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Sul'
df.replace(values_to_replace, '##Sul', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Sulp'
df.replace(values_to_replace, '##Sulp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Sulph'
df.replace(values_to_replace, '##Sulph', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphaceta','Sulphacetam','Sulphacetami','Sulphacetamide']
df.replace(values_to_replace, 'Sulphacetamide', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphacetamide ey','Sulphacetamide eye','Sulphacetamide eye d','Sulphacetamide eye dr','Sulphacetamide eye drop']
df.replace(values_to_replace, 'Sulphacetamide eyedrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphame','Sulphametho','Sulphamethox','Sulphamethoxa','Sulphamethoxaz','Sulphamethoxazo','Sulphamethoxazol']
df.replace(values_to_replace, 'Sulphamethoxazole', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphamethoxazole+t','Sulphamethoxazole+tr','Sulphamethoxazole+tri','Sulphamethoxazole+trim','Sulphamethoxazole+trime','Sulphamethoxazole+trimet','Sulphamethoxazole+trimeth','Sulphamethoxazole+trimetho','Sulphamethoxazole+trimethop','Sulphamethoxazole+trimethopr','Sulphamethoxazole+trimethopri','Sulphamethoxazole+trimethoprim','Sulphamethoxazole+trimethoprime','Sulphamethoxazole +','Sulphamethoxazole + T','Sulphamethoxazole + Tr','Sulphamethoxazole + Trimethopr']
df.replace(values_to_replace, 'Sulphamethoxazole+Trimethoprim', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphamethoxazole + Trimethoprime40mg/5m','Sulphamethoxazole + Trimethoprime40mg/5ml','Sulphamethoxazole + Trimethoprime40mg/5ml syp']
df.replace(values_to_replace, 'Sulphamethoxazole+Trimethoprim 40mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphamethoxazole+trimethoprime D','Sulphamethoxazole+trimethoprime DS','Sulphamethoxazole+trimethoprime DS t','Sulphamethoxazole+trimethoprime DS ta','Sulphamethoxazole+trimethoprime DS tab']
df.replace(values_to_replace, 'Sulphamethoxazole+Trimethoprim DS tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Sulphamethoxazole+trimethoprime SS','Sulphamethoxazole+trimethoprime SS t','Sulphamethoxazole+trimethoprime SS ta','Sulphamethoxazole+trimethoprime SS tab']
df.replace(values_to_replace, 'Sulphamethoxazole+Trimethoprim SS tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Susp. Domperidone 1mg/ml'
df.replace(values_to_replace, 'Domperidone 1mg/ml suspension', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Syp'
df.replace(values_to_replace, '##Syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Syp Cefixime 100mg/5ml'
df.replace(values_to_replace, 'Cefixime 100mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Syp Metronidazole 200mg/5ml'
df.replace(values_to_replace, 'Metronidazole 200mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Syp Salbut','Syp Salbutam','Syp Salbutamolm']
df.replace(values_to_replace, 'Salbutamol syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Syp Salbutamolm 2','Syp Salbutamolm 2mg/5','Syp Salbutamolm 2mg/5m','Syp Salbutamolm 2mg/5ml']
df.replace(values_to_replace, 'Salbutamol syp 2mg/5ml', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Syp. Levoce','Syp. Levocetrizine 2.5mg/5ml']
df.replace(values_to_replace, 'Levocetrizine 2.5mg/5ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'T'
df.replace(values_to_replace, '##T', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab'
df.replace(values_to_replace, '##Tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab-'
df.replace(values_to_replace, '##Tab-', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab- B-','Tab- B-6']
df.replace(values_to_replace, 'B-6 tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. C'
df.replace(values_to_replace, '##Tab. C', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Cefixime 2','Tab. Cefixime 200mg']
df.replace(values_to_replace, 'Cefixime 200mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Ci'
df.replace(values_to_replace, '##Tab. Ci', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Cinnarizine 25mg'
df.replace(values_to_replace, 'Cinnarizine 25mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Ciprofloxacin 250mg'
df.replace(values_to_replace, 'Ciprofloxacin 250mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Ciprofloxacin 500mg'
df.replace(values_to_replace, 'Ciprofloxacin 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Etori','Tab. Etorico','Tab. Etoricoxib 9','Tab. Etoricoxib 90m','Tab. Etoricoxib 90mg']
df.replace(values_to_replace, 'Etoricoxib 90mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Levo'
df.replace(values_to_replace, '##Tab. Levo', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Levo Thyroxine 50','Tab. Levo Thyroxine 50 m','Tab. Levo Thyroxine 50 mc','Tab. Levo Thyroxine 50 mcg']
df.replace(values_to_replace, 'Levothyroxine 50mcg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ge'
df.replace(values_to_replace, '##Ge', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Gen'
df.replace(values_to_replace, '##Gen', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Methyl'
df.replace(values_to_replace, '##Tab. Methyl', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Methylcobala','Tab. Methylcobalamin','Tab. Methylcobalamine']
df.replace(values_to_replace, 'Methylcobalamin tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Methylcobalamine 5','Tab. Methylcobalamine 50','Tab. Methylcobalamine 500','Tab. Methylcobalamine 500 mcg']
df.replace(values_to_replace, 'Methylcobalamin 50mcg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Metoclopramide 10mg'
df.replace(values_to_replace, 'Metoclopramide 10mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Sorbitrate 5mg'
df.replace(values_to_replace, 'Sorbitrate 5mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Tel','Tab. Telm','Tab. Telmis','Tab. Telmisar','Tab. Telmisartan']
df.replace(values_to_replace, 'Telmisartan tab', inplace=True)
 
df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Telmisartan 4','Tab. Telmisartan 40','Tab. Telmisartan 40m','Tab. Telmisartan 40mg']
df.replace(values_to_replace, 'Telmisartan 40mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tab. Tinidazole'
df.replace(values_to_replace, 'Tinidazole tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tab. Tinidazole 5','Tab. Tinidazole 500m','Tab. Tinidazole 500mg']
df.replace(values_to_replace, 'Tinidazole 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Telm','Telmi','Telmis','Telmisar','Telmisarta','Telmisartan']
df.replace(values_to_replace, 'Telmisartan tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Telmisartan 4','Telmisartan 40mg','Telmisartan 40mg ta']
df.replace(values_to_replace, 'Telmisartan 40mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Thyrox','Thyroxi','Thyroxin']
df.replace(values_to_replace, 'Levothyroxine', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Thyroxine 2','Thyroxine 25','Thyroxine 25 m','Thyroxine 25 mg','Thyroxine 25 mg t','Thyroxine 25 mg ta','Thyroxine 25 mg tab']
df.replace(values_to_replace, 'Levothyroxine 35mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Ti'
df.replace(values_to_replace, '##Ti', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tini'
df.replace(values_to_replace, 'Tinidazole tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tinidazole 500mg','Tinidazole 500mg tab']
df.replace(values_to_replace, 'Tinidazole 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tobr','Tobram','Tobramyc']
df.replace(values_to_replace, 'Tobramycin', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tobramycin Eye D','Tobramycin Eye Dr']
df.replace(values_to_replace, 'Tobramycin eyedrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tobramycin Eye Drop 0.3%'
df.replace(values_to_replace, 'Tobramycin 0.3% eyedrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tran'
df.replace(values_to_replace, '##Tran', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tranexami','Tranexamic Ac','Tranexamic Aci','Tranexamic Acid']
df.replace(values_to_replace, 'Tranexamic Acid', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Tranexamic Acid 2','Tranexamic Acid 250mg']
df.replace(values_to_replace, 'Tranexamic Acid 250mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Tranexamic Acid 500 mg ta'
df.replace(values_to_replace, 'Tranexamic Acid 500mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'V'
df.replace(values_to_replace, '##V', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Vag'
df.replace(values_to_replace, '##Vag', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Vag.'
df.replace(values_to_replace, '##Vag.', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Vag. Pessary'
df.replace(values_to_replace, '##Vag. Pessary', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Vag. Pessary Clotrim','Vag. Pessary Clotrimaz','Vag. Pessary Clotrimazo','Vag. Pessary Clotrimazol','Vag. Pessary Clotrimazole']
df.replace(values_to_replace, 'Clotrimazole vaginal pessary tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Vag. Pessary Clotrimazole 1','Vag. Pessary Clotrimazole 100mg']
df.replace(values_to_replace, 'Clotrimazole 100mg vaginal pessary tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'ViT'
df.replace(values_to_replace, '##ViT', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Vit'
df.replace(values_to_replace, '##Vit', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Vit A 10000','Vit A 10000 IU','Vit A 10000 IU c','Vit A 10000 IU ca','Vit A 10000 IU cap']
df.replace(values_to_replace, 'Vitamin A 10000 IU cap', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'ViT.'
df.replace(values_to_replace, '##ViT.', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'Vit A syp'
df.replace(values_to_replace, 'Vitamin A syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = 'ViT. C'
df.replace(values_to_replace, 'Vitamin C', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['ViT. C 5','ViT. C 50','ViT. C 500','ViT. C 500 m','ViT. C 500 mg','ViT. C 500 mg t','ViT. C 500 mg ta','ViT. C 500 mg tab']
df.replace(values_to_replace, 'Vitamin C 500 mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Wax Di','Wax Dissol','Wax Dissolvent','Wax Dissolvent E','Wax Dissolvent Ear','Wax Dissolvent Ear Dr','Wax Dissolvent Ear Dro','Wax Dissolvent Ear Drop']
df.replace(values_to_replace, 'Wax Dissolvent eardrop', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['X','Xyl','Xylo','Xylom','Xylome','Xylomet','Xylometaz','Xylometazo','Xylometazol','Xylometazoli','Xylometazolin','Xylometazoline(']
df.replace(values_to_replace, 'Xylometazoline', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Xylometazoline(A)','Xylometazoline(A) N','Xylometazoline(A) Na','Xylometazoline(A) Nas','Xylometazoline(A) Nasa','Xylometazoline(A) Nasal','Xylometazoline(A) Nasal d','Xylometazoline(A) Nasal dr','Xylometazoline(A) Nasal dro','Xylometazoline(A) Nasal drop','Xylometazoline(A) Nasal drops']
df.replace(values_to_replace, 'Xylometazoline(A) nasal drops', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Xylometazoline(P)','Xylometazoline(P) Na','Xylometazoline(P) Nasal d','Xylometazoline(P) Nasal drops']
df.replace(values_to_replace, 'Xylometazoline(P) nasal drops', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Z','Zin']
df.replace(values_to_replace, 'Zinc', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Zinc 20','Zinc 20m','Zinc 20mg','Zinc 20mg t','Zinc 20mg ta']
df.replace(values_to_replace, 'Zinc 20mg tab', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [ ]:
values_to_replace = ['Zinc 4mg','Zinc 4mg/m','Zinc 4mg/ml sy']
df.replace(values_to_replace, 'Zinc 4mg/ml syp', inplace=True)

df.to_csv('sample-data.csv', index=False)
df.head()

In [3]:
import pandas as pd
df = pd.read_csv('sample-data.csv')

columns = ['drug_1', 'drug_2', 'drug_3', 'drug_4', 'drug_5', 'drug_6', 'drug_7', 'drug_8', 'drug_9', 'drug_10', 'drug_11', 'drug_12', 'drug_13', 'drug_14']
unique_values = pd.unique(df[columns].values.ravel('K'))
unique_df = pd.DataFrame(unique_values, columns=['Drugs'])

unique_df.to_csv('unique-final.csv', index=False)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\2469282844.py:2: DtypeWarning: Columns (13,15,17,18,19,20,21,22,23,24,26,28,49,50,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sample-data.csv')

In [2]:
import pandas as pd

chunk_size = 100000  
reference_df = pd.read_csv('unique-1.csv')

replacement_dict = dict(zip(reference_df['Drugs'], reference_df['Corrected Values']))

header_written = False

with pd.read_csv('updated_data.csv', chunksize=chunk_size) as reader:
    for chunk in reader:
        # Replace values in the chunk based on the dictionary
        chunk.replace(replacement_dict, inplace=True)
        
        # Append to the cleaned CSV (write header only for the first chunk)
        chunk.to_csv('sample-data.csv', mode='a', index=False, header=not header_written)
        
        # After the first chunk, set header_written to True
        header_written = True

print("Large CSV cleaned and saved as 'cleaned_file.csv'")

C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (17,18,19,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,22,23,26,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,24,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,24,28,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (19,20,21,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,20,21,22,24,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (19,20,21,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (17,18,19,20,21,22,23,24,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (18,19,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (19,20,21,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (17,18,19,20,21,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (15,17,18,19,20,21,48,49,50,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\vidhi\AppData\Local\Temp\ipykernel_12308\1214316752.py:17: DtypeWarning: Columns (15,18,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

Large CSV cleaned and saved as 'cleaned_file.csv'